<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodeBreaker Game</title>
</head>
<body>
  <h1>Production</h1>
  <form action="/" method="POST">
    <label for="guess">Enter your guess:</label><br>
    <input type="text" id="input" name="guess"><br>
    <input type="submit" id="guess" value="Guess">
  </form>
  <% if @results %>
    <p id="output"><%= @guess %></p>
    <% if @win %>
      <p id="message">You win!</p>
    <% else %>
      <p id="message"><%= @attemps >= 1 ? 'Try again!' : 'Game Over!' %></p>
    <% end %>
    <ul id="results">
    <% @results.each do |result|%>
      <li><%= "#{result[:attemp]} - #{result[:guess]}" %></li>
    <% end %>
    </ul>
  <% end %>
</body>
</html>

