<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CodeBreaker Game</title>
</head>
<body>
  <form action="/" method="GET">
    <label for="guess">Enter your guess:</label><br>
    <input type="text" id="input" name="guess"><br>
    <input type="submit" id="guess" value="Guess">
  </form>
  <% if guess %>
    <p id="output"><%= guess %></p>
  <% end %>
</body>
</html>

