<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Type your name</title>
</head>
<body>
  <h2>Welcome to Code Breaker</h2>

<form action="/" method="post">
  <label for="name">Enter your name:</label> <br><br>
  <input type="text" id="name" name="name" required autofocus>
  <input type="submit" id="name_register" value="Submit">
</form>
  
</body>
</html>




